<config>
  <volumefile>/home/utn_so/fat32.disk</volumefile>
  <logfile>/home/utn_so/ppd.log</logfile>
  <raidip>127.0.0.1</raidip>
  <raidport>5100</raidport>
  <bindip>127.0.0.1</bindip>
  <bindport>5500</bindport>
  <mode>CONNECT</mode>
  <algorithm>CSCAN</algorithm>
  <portconsole>6500</portconsole>
  <logenabled>1</logenabled>
  <diskid>1</diskid>
  <cylinder>32768</cylinder>
  <head>1</head>
  <sector>32</sector>
  <jumptime>1</jumptime>
  <readtime>2</readtime>
  <writetime>3</writetime>
  <rpm>6000</rpm>
</config>