<config>
  <volumefile>/home/nico/big_fat32.disk</volumefile>
  <logfile></logfile>
  <consolepath>./console</consolepath>
  <raidip>192.168.1.106</raidip>
  <raidport>7000</raidport>
  <bindip>192.168.1.106</bindip>
  <bindport>5000</bindport>
  <mode>LISTEN</mode>
  <algorithm>FSCAN</algorithm>
  <portconsole>6500</portconsole>
  <logenabled>1</logenabled>
  <diskname>mydisk</diskname>
  <cylinders>1024</cylinders>
  <heads>1</heads>
  <sectors>1024</sectors>
  <jumptime>1</jumptime>
  <readtime>0</readtime>
  <writetime>0</writetime>
  <rpm>7200</rpm>
  <socketunixpath>/tmp/ppd</socketunixpath>
</config>
